/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #131520;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100vw;
  margin-top: 15px;
}

/* Title */
h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

/* SubTitle */
h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: white;
  text-align: center;
}

main {
  width: 100vw;
  height: calc(100vh - 78px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.generator-content-inp {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.generator-content-inp > button {
  margin-bottom: 12px;
}

#generator-inp {
  width: 50%;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;

  margin-bottom: 12px;
}

.button-class {
  width: 100px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background-image: linear-gradient(
    to right,
    #3571eb 0%,
    #3e57e4 60%,
    #3571eb 100%
  );

  transition: filter 0.5s;
}

.button-class:hover {
  filter: brightness(0.7);
}

.generator-container {
  width: 80%;
  height: 60%;
  box-shadow: 6px -3px 19px 2px rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.res-container {
  width: 80%;
  min-height: 37px;
  padding: 8px;
  border-radius: 5px;

  background-color: #2b2e3f;

  display: flex;
  align-items: center;
  justify-content: center;
}

#resDiv {
  width: 90%;
  color: white;
  word-wrap: break-word;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.icon-container {
  width: 10%;
}

#copy-icon {
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .generator-container {
    flex-direction: column;
  }

  .button-container {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .generator-content-inp {
    flex-direction: column;
  }

  #generator-inp {
    margin-bottom: 4px;
  }
}
